# Virtual Environment (do not commit!)
/steady_py/
.venv/
venv/

htmlcov/
.coverage

# Python cache & build artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Execution outputs / temporary files
pinned_requirements.txt
*.ipynb_checkpoints/
output_executed.ipynb

test_notebooks/
hugging_face/
